nav,ul{
    display: flex;
}

li{
    color: white;
    list-style: none;
}
ul{
    gap: 2rem;
}

nav{
    position: sticky;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: purple;
    padding: 1.2rem;
}